body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to right,rgba(8, 46, 183, 0.699),rgba(87, 35, 200, 0.837)); */
  background-image: url(download.jpeg);
  background-size:cover;
  /* background-repeat: no-repeat; */
}
*{
    margin: 0px;
    padding: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Home1{
    font-size: x-large;
}
.Link1{
    font-size: x-large;
}
.bottoms{
    bottom: 0px;
}